body {
    background: red;
}
@media (max-width: 576px) {
    Body {
        text-align: center;
        font-size: 30px;
    }
    h1 {
        font-size: 70px;
    }
    img {
        display: block;
        margin: auto;
        width: 200px;
    }

}